/* #image{
    height : 300px;
    width: 60%; */
    /* border : black 1px solid; */
    /* float: right; */
/* } */

/* h4{ */
    /* border: 7px solid black; */
    /* padding: 20px;
    margin: 50px; */
    /* display: inline-block; */
/* } */

.container{
    /* background-color: red; */
    /* border: 5px solid blue; */
    /* background-color: grey;
    margin: 10px; */
 
    background: chartreuse;
    margin: 10px;
    height: 200px;
    display: flex;
    
    flex-direction: row;
    /* flex-wrap: wrap;   */
    justify-content: center;
    /* align-items: center; */
}

.container-item{
    margin: 20px;
    text-align: center;
    /* padding: 10px;
    padding-bottom: 100px; */
    width: 70px;
    line-height: 50px;
    background: crimson;

}